@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book>

<header>
    <h1>Give the Gift of a Great Book</h1>
</header>

@foreach (var x in Model)
{
        <div>
            <h4>Title: @x.title</h4>
            <p>Author Name: @x.authorFirst</p>
            <p>@x.authorMiddle</p>
            <p>@x.authorLast</p>
            <p>Publisher: @x.publisher</p>
            <p>ISBN: @x.ISBN</p>
            <p>Classification: @x.classification</p>
            <p>Category: @x.category</p>
            <p>Price: $@x.price</p>
        </div>
}
